@charset "UTF-8";
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body{
    max-width:1300px;
    margin: auto;
}

header>ul {
    display: flex;
    margin-top:30px;
    margin-left:180px;
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

header>ul>li {
    margin-left:40px;
 
}
header>div{
    display: flex;
    margin-top: 28px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header>div>h1{
    margin-top:10px;
    margin-left: 50px;

}

header>div>ul{
display: flex;
margin-left: -10px;
list-style-type: none;
font-weight: 600;
}

header>div>ul>li{
    padding-left:20px;
    font-size: 16px;
}
.iconegps{
    width:14px;
    margin-right: 8px;
    margin-top: 9px;
}
.areagps{
    padding-bottom:10px;
}


.iconetelefone{
    width:15px;
    margin-right:4px;
    margin-top:1px
}
.areatelefone{
    margin-top:12px;
}


.iconewapp{
    width:16px;
    margin-right:3px;
    margin-top: 2px;
}
.areawapp{
    margin-top:10px;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/




a{
    text-decoration: none;
    color:black;
}

.resultado:hover{
    color:#1133b9;
    transition-duration: 300ms;
    text-shadow: 1px 1px 1px #1133b9 ;
}

.inicio:hover{
    color:#1133b9;
    text-shadow: 1px 1px 1px #1133b9 ;
    transition-duration: 300ms;
}
header>ul>li{
    display: flex;
}

.telefone>span{
    margin-top:-2px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70vh;
    flex-direction: column;
}
main>section{
    border: 1px solid rgba(0, 0, 0, 0.322);
    padding:100px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.37);
}
main>section>form{
    display: flex;
    flex-direction: column;
}
main>section>form>div{
    margin-top: 12px;
}

.resultado:hover{
    color:#3a55c0;
    transition-duration: 500ms;
    text-shadow: 1px 1px 1px #3a55c0 ;
}

.inicio:hover{
    color:#3a55c0;
    text-shadow: 1px 1px 1px #3a55c0 ;
    transition-duration: 500ms;
}

.login{
    margin-right: 6px;
}

.divbotao{
    display: flex;
    justify-content: center;
}

.botao{
    padding:3px;
}

.tituloresultado{
    margin-top: -30px;
    margin-bottom: 35px;
    font-weight: 600;
}

main>section>p{
    margin-top: 50px;
    margin-bottom:-40px;
    font-size: 14px;
    text-align: center;
}